<!-- template: new_comment -->
{% extends "base.html" %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href='/'><span class="glyphicon glyphicon-home" aria-hidden="true"><span style="font-family:Lato;"> Home</span></span></a></li>
    </ul>
{% endblock %}

{% block auth_menu %}
    <div class="auth_menu">
        {% if username %}
            <a href="\logout">Log Out</a>
        {% else %}
            <a href="\login">Log In</a> |
            <a href="\signup">Sign Up</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="row">
            <div class="col-md-12 form_title">
                        {% if created %}
                            <h3>Comment</h3>
                        {% else %}
                            <h3>New Comment</h3>
                        {% endif %}
            </div>
        </div>
        <div class="row form_fields">
            <div class="col-md-2 field_label"><label for="content">Comment</label></div>
            <div class="col-md-7 field">{{content}}</div>
        </div>
        <div class="row form_actions">
            <div class="col-md-12">
                {% if is_editor %}
                    <input type="button" class="btn" value="Edit" onClick="window.location='/edit?id={{comment_id}}'">
                {% endif %}
            </div>
        </div>
        <div class="row doc_info">
            <div class="col-sm-12">
                <div class="row created_by">
                    <div class="col-sm-2 field_label">
                        Created by:
                    </div>
                    <div class="col-sm-10 field">
                        {{author_name}}
                    </div>
                </div>
                {% if created %}
                <div class="row created_date">
                    <div class="col-sm-2 field_label">
                        Created Date:
                    </div>
                    <div class="col-sm-10 field">
                        {{created}}
                    </div>
                </div>
                {% endif %}
                {% if modified %}
                <div class="row modified_date">
                    <div class="col-sm-2 field_label">
                        Modified Date:
                    </div>
                    <div class="col-sm-10 field">
                        {{modified}}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}