<!-- template: login -->
{% extends "base.html" %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href='/'><span class="glyphicon glyphicon-home" aria-hidden="true"><span style="font-family:Lato;"> Home</span></span></a></li>
    </ul>
{% endblock %}

{% block auth_menu %}
    <div class="auth_menu">
        <a href='\signup'>Sign Up</a>
    </div>
{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="row">
        <div class="col-md-12 form_title">
            <h3>User Sign In</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 error">
            {{error_password}}{{error_username}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 field_label">
            <label for="username">User Name</label>
        </div>
        <div class="col-md-7 field">
            <input type="text" name="username" value="{{username}}" placeholder="required">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 field_label">
            <label for="password">Password</label>
        </div>
        <div class="col-md-7 field">
            <input type="password" name="password" value="" placeholder="required">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form_actions">
            <input type="submit" class="btn" name="submit" value="Sign In">
        </div>
    </div>
</form>
{% endblock content %}
