<!-- template: post -->
{% extends "base.html" %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href='/'><span class="glyphicon glyphicon-home" aria-hidden="true"><span style="font-family:Lato;"> Home</span></span></a></li>
    </ul>
{% endblock %}

{% block auth_menu %}
    <div class="auth_menu">
        {% if username %}
            <a href='\logout'>Log Out</a>
        {% else %}
            <a href='\login'>Log In</a> |
            <a href='\signup'>Sign Up</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="row page_title">
        <div class="col-md-12">
            <h2>{{subject}}</h2>
        </div>
    </div>

    <div class="row page_content">
        <div class='col-sm-2 field_label'>Content:</div>
        <div class='col-sm-6 field'>{{content}}</div>
    </div>

    <div class="row form_actions">
        <div class="col-sm-12">
            {%if is_editor %}
                <!-- Can edit, but not like -->
                <input type="button" class="btn" value="Edit" onClick="window.location='/edit?id={{post_id}}'">
            {% endif %}
            {% if username %}
                <input type="button" class="btn" value="Comment" onClick="window.location='/comment?id={{post_id}}'">
            {% endif %}
            <input type="button" class="btn" value="Cancel" onClick="window.location='/'">
        </div>
    </div>

    <div class="row likes">
        <!-- LIKES -->
        {% if username and (username != author_name) %}

            <div class="col-sm-2 " title="{{likers}}">
                Likes: <span class="like_count">{{like_count}}</span>
            </div>
            {% if username in likers %}
            <div class="col-sm-10 liked">
                You like this!
            </div>
            {% else %}
            <div class="col-sm-10">
                <a href="/like?id={{post_id}}">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    I Like It!</a>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="row doc_info">
        <div class="col-sm-12">
            <div class="row created_by">
                <div class="col-sm-2 field_label">
                    Created by:
                </div>
                <div class="col-sm-10 field">
                    {{author_name}}
                </div>
            </div>
            <div class="row created_date">
                <div class="col-sm-2 field_label">
                    Created Date:
                </div>
                <div class="col-sm-10 field">
                    {{created}}
                </div>
            </div>
            <div class="row modified_date">
                <div class="col-sm-2 field_label">
                    Modified Date:
                </div>
                <div class="col-sm-10 field">
                    {{modified}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 comment_roll">
            {% if comments %}
                <div class="row view_subtitle">
                    <div class="col-sm-12">
                        <h3>Comments</h3>
                    </div>
                </div>
            {% endif %}
            {% for c in comments %}
                <!-- TODO: define view-borders & view-action styles -->
                <div class="row view">
                    <div class="col-sm-4">
                        <span>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{c.author_name}}
                        </span>
                        <span>
                            {% if username == c.author_name %}
                                <a href="/delete?id={{c.comment_id}}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>delete
                                </a>
                            {% endif %}
                        </span>
                    </div>
                    <div class="col-sm-8">
                        <a href="/open?id={{c.comment_id}}">{{c.content}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</form>
{% endblock %}