<!-- template: signup -->
{% extends "base.html" %}

{% block nav %}
<ul class="nav navbar-nav">
    <ul class="nav navbar-nav">
        <li><a href='/'>Home</a></li>
    </ul>
</ul>
{% endblock %}

{% block auth_menu %}
    <div class="auth_menu">
        <a href='\login'>Log In</a>
    </div>
{% endblock %}

{% block content %}

<form action="" method="post">
    <fieldset class="form">
        <h3>New User Sign Up</h3>
        <table>
            <tr>
                <td class='t_label'><label for="username">User Name</label></td>
                <td class='t_field'><input type="text" name="username" value="{{username}}" placeholder="required"></td>
                <td class='t_error'>{{error_username}} {{error_username_exists}}</td>
            </tr>
            <tr>
                <td class='t_label'><label for="password">Password</label></td>
                <td class='t_field'><input type="password" name="password" value="{{password}}" placeholder="required"></td>
                <td class='t_error'>{{error_password}}</td>
            </tr>
            <tr>
                <td class='t_label'><label for="verify">Confirm Password</label></td>
                <td class='t_field'><input type="password" name="verify" value="" placeholder="required"></td>
                <td class='t_error'>{{error_verify}}</span></td>
            </tr>
            <tr>
                <td class='t_label'><label for="email">Email</label></td>
                <td class='t_field'><input type="text" name="email" value="{{email}}" placeholder="optional"></td>
                <td class='t_error'>{{error_email}}</td>
            </tr>
        </table>
    </fieldset>
    <div class="form_actions">
        <input type="submit" class="btn" name="submit" value="Submit">
    </div>
</form>

{% endblock %}